*{
    margin: 0;
    padding: 0;
}

.navbar{
    top: 0;
    left: 0;
    background: linear-gradient( to right, #000000, #001027);
    opacity: 0.85;
    width: 100vw;
    height: 60px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    color: white;
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    align-self: center;
}

.hamburger-icon{
    height: 28px;
    width: 28px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}

.hamb-line1{
    position: relative;
    height: 3px;
    width: 100%;
    position: relative;
    background-color: white;
    transform: rotate(0deg);
    transition: 0.5s ease-out;
}

.hamb-line2{
    height: 3px;
    width: 100%;
    position: relative;
    background-color: white;
    transition: 0.5s ease-out;
}

.hamb-line3{
    position: relative;
    height: 3px;
    width: 100%;
    position: relative;
    background-color: white;
    transition: 0.5s ease-out;
}

.hamb-line-open1{
    height: 3px;
    width: 60%;
    background-color: white;
    transform: translateY(3px) rotate(40deg);
    transition: 0.5s ease-out;
}

.hamb-line-open2{
    opacity: 0;
    transition: 0.5s ease-out;
}

.hamb-line-open3{
    height: 3px;
    width: 60%;
    background-color: white;
    transform: translateY(-3px) rotate(-40deg) ;
    transition: 0.5s ease-out;
}

/*Media query for mobile (portrait)*/
@media (max-width: 560px) {

    .logo{
        font-size: 1.1rem;
    }

    .hamburger-icon{
        right: 5%;
    }
}
