@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* Variables */
$font-stack: 'Open Sans', sans-serif;
$main-container-color: rgba(255, 255, 255, 0.08);
$inner-container-color: rgba(128, 128, 128, 0.39);
$container-box-shadow: 5px 5px 3px rgba(146, 145, 145, 0.166);
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 560px;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../assets/background-2k.jpg");
  background-size: cover;
  background-repeat: none;  
}

.content-wrapper{
  font-family: $font-stack;
  height: calc(100vh - 60px);
  width: 100vw;
  justify-content: center;
  align-content: center;
}

.main-container{
  display: flexbox;
  height: 400px;
  width: 700px;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $main-container-color;
  backdrop-filter: blur(12px);
  box-shadow: $container-box-shadow;
}

.container-up{
  background-color: $inner-container-color;
  height: 180px;
  width: 600px;
  position: relative;
  top: 18%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -18%);
  border-radius: 8px 8px 0 0;
}

.col-left{
  position: relative;
  display: flex;
  flex-direction: column;
  left: 10%;
  width: 50%;
  justify-content: center;
}

.temp{
  color: white;
  font-size: 3rem;
  width: 20%;
  font-weight: 600;
}

.location{
  width: 80%;
  color: white;
  font-size: 2rem;
}

.right-col{
  height: 130px;
  width: 130px;
  position: absolute;
  right: 5%;
  top: 18%;

  p {
    color: white;
    text-align: center;
  }

  p::first-letter{
    text-transform: capitalize;
  }
}

.weather-img{
  display: flex;
  justify-content: center;
}

.container-bottom{
  background-color: $inner-container-color;
  height: 120px;
  width: 600px;
  position: relative;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 8px 8px;
}

.data-item{
  text-align: center;
  h1{
    color: rgba(0, 0, 0, 0.623);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
  }
  p {
    font-size: 0.9rem;
    color: white;
  }
} 

.form-container{
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
  display: flex;
}

.search-error-ERROR{
  color: red;
  position: absolute;
  left: 50%;
  bottom: 12%;
  font-size: .85rem;
  transform: translateX(-50%);
}

.search-error-OK{
  display: none;
}

.searchbox{
  position: relative;
  width: 220px;
  height: 30px;
  border-style: none;
  background: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.671);
  outline: none;  
  letter-spacing: 1px;
  font-style: italic;
  font-size: 12px;
}

.btn{
  background-color: transparent;
  border: none;
}

#search-icon{
  position: relative;
  background-color: transparent;
  height: 20px;
  bottom: 3px;
  position: absolute;
  cursor: pointer;
}

/*Media query for tablets (portrait)*/
@media (max-width: $tablet-breakpoint) {

  body{
    background-image: url("../assets/background-mobile.jpg");
    background-size: cover;
    background-repeat: none;

    h1{
      font-size: 1rem;
    }
  }


  .main-container{
    width: 500px;
  }

  .container-up{
    width: 400px;
  }

  .container-bottom{
    width: 400px;
  }

}

/*Media query for mobile (portrait)*/
@media (max-width: $mobile-breakpoint) {

  body{
    background-image: url("../assets/background-mobile.jpg");
    background-size: cover;
    background-repeat: none;
  }

  .main-container{
    width: 300px;
    height: 290px
  }

  .location{
    font-size: 0.9rem;
  }

  .right-col{
    width: 100px;
    height: 100px;
    
    p {
      font-size: 0.85rem;
      text-align: center;
    }
  }

  .img-desc{
    position: relative;
    height: 80%;
    width: 80%;
  }

  .container-up{
    width: 280px;
    height: 140px;
  }

  .container-bottom{
    width: 280px;
    height: 80px;
    top: 0px;

    h1 {
      font-size: 0.8rem;
    }
  }

  .searchbox {
    bottom: 10%;
    width: 180px;
  }

  .btn{
    background-color: transparent;
    border: none;
  }

  #search-icon{
    background-color: transparent;
    height: 20px;
    position: absolute;
    bottom: 10%;
    cursor: pointer;
  }

  .form-container{
    bottom: 80px;
  }

  .search-error-ERROR{
    bottom: 7%;
  }

  input[type='text']{
    font-size: 16px;
  }
}