*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("./assets/background-2k.jpg");
  background-size: cover;
  background-repeat: none;
}

.content-wrapper{
  font-family: 'Open Sans', sans-serif;
  height: calc(100vh - 60px);
  width: 100vw;
  justify-content: center;
  align-content: center;
}

.main-container{
  display: flexbox;
  flex-direction: column;
  height: 400px;
  width: 700px;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  box-shadow: 5px 5px 3px rgba(146, 145, 145, 0.166);
}

.container-up{
  background-color: rgba(128, 128, 128, 0.39);
  height: 180px;
  width: 600px;
  position: relative;
  top: 18%;
  left: 50%;
  display: flex;
  flex-direction: row;
  transform: translate(-50%, -18%);
  border-radius: 8px 8px 0 0;
  box-shadow: 5px 5px 3px rgba(146, 145, 145, 0.166);
}

.col-left{
  position: relative;
  display: flex;
  flex-direction: column;
  left: 5%;
  width: 50%;
  height: 100%;
  justify-content: center;
}

.temp{
  color: white;
  font-size: 3rem;
  width: 20%;
  position: relative;
  font-weight: 600;
  left: 5%;
}

.location{
  width: 80%;
  position: relative;
  color: white;
  font-size: 2rem;
  left: 5%;
  
}

.right-col{
  height: 130px;
  width: 130px;
  position: absolute;
  align-self: center;
  justify-content: center;
  align-content: center;
  right: 5%;
  top: 18%;
}

.weather-img{
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
}

.img-desc{
  
}

.right-col p {
  color: white;
  text-align: center;
}

.right-col p::first-letter{
  text-transform: capitalize;
}

.container-bottom{
  background-color: rgba(128, 128, 128, 0.39);
  height: 120px;
  width: 600px;
  position: relative;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 8px 8px;
  box-shadow: 5px 5px 3px rgba(146, 145, 145, 0.166);
}

.data-item h1{
  color: rgba(0, 0, 0, 0.623);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.data-item p {
  text-align: center;
  font-size: 0.9rem;
  color: white;
}

.form-container{
  position: absolute;
  left: 50%;
  bottom: 120px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchbox{
  position: relative;
  width: 220px;
  height: 30px;
  border-style: none;
  background: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.671);
  outline: none;
}

.searchbox::placeholder{
  letter-spacing: 1px;
  font-style: italic;
  font-size: 12px;
}

.btn{
  background-color: transparent;
  border: none;
}

#search-icon{
  position: relative;
  background-color: transparent;
  height: 20px;
  bottom: 3px;
  position: absolute;
  cursor: pointer;
}


/*Media query for tablets (portrait)*/
@media (max-width: 1024px) {

  body{
    background-image: url("./assets/background-mobile.jpg");
    background-size: cover;
    background-repeat: none;
  }

  .main-container{
    width: 500px;
  }

  .container-up{
    width: 400px;
  }

  .container-bottom{
    width: 400px;
  }
}

/*Media query for mobile (portrait)*/
@media (max-width: 560px) {

  body{
    background-image: url("./assets/background-mobile.jpg");
    background-size: cover;
    background-repeat: none;
  }

  .main-container{
    width: 300px;
    height: 350px
  }

  .location{
    font-size: 0.9rem;
  }

  .right-col{
    width: 100px;
    height: 100px;
  }

  .right-col p {
    font-size: 0.85rem;
    text-align: center;
  }

  .img-desc{
    position: relative;
    height: 80%;
    width: 80%;
  }

  .container-up{
    width: 280px;
    height: 150px;
  }

  .container-bottom{
    width: 280px;
    height: 110px;
    top: 0px;
  }

  .container-bottom h1 {
    font-size: 0.8rem;
  }

  .searchbox {
    bottom: 10%;
    width: 180px;
  }

  .btn{
    background-color: transparent;
    border: none;
  }

  #search-icon{
    background-color: transparent;
    height: 20px;
    position: absolute;
    bottom: 10%;
    cursor: pointer;
  }

  .form-container{
    bottom: 80px;
  }

  input[type='text']{
    font-size: 16px;
  }
}